*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    text-align: justify;
}

header{
    padding: 16px 0;
    background-color: #cc1919;
    color: #ecf0f1;
}

header,
section h2,
section h3,
form button{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

body, input, textarea{
    font-family: 'Roboto', sans-serif;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#morumbi img{
    width: 100%;
    margin-bottom: 0px;
}

#socio-torcedor img{
    margin-top: 32px;
    margin-right: 32px;
}

#morumbi h2,
p,
#socio-torcedor h2{
    text-align: center;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    margin-top: 32px;
}

section{
    color: #cc1919;
}

section p{
    margin-bottom: 8px;
    color: black;
}

.stadium,
#socio-torcedor{
    margin-right: 42px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

#endereco h3{
    margin-bottom:auto;
    margin-top: 24px;
    text-align: center;
}
#endereco p{
    text-align: center;
}

form button{
    background-color: #cc1919;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

#btn-socio{
    margin-top: 80px;
    text-align: center;
}

#btn-socio button{
    background-color: red;
    color: #ecf0f1;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
}

#btn-socio button:hover{
    background-color: #b83e3e;
}

form button:hover{
    background-color: #b83e3e;
}


input:focus, textarea:focus{
    outline-color: #cc1919;
}

footer{
    background-color: #cc1919;
    color: #ecf0f1;
    padding: 16px o;
}